@namespace MyBlazorApp.Pages
@page "/CgProfile"
@inherits BaseComponent


<Page>
  <HeaderContent>Cg Profile</HeaderContent>
  <MainContent>
    @if (@CgProfileState.Profile == null)
    {
      <p><em>Loading...</em></p>
    }
    else
    {
  <p>Level : @CgProfileState.Profile.Level</p>
    }

  </MainContent>
</Page>


